
div.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 10px; 
}



div.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 150px;
  padding: 25px;
  background-color: rgb(21, 111, 167);
  color: white;
  border-radius: 15px;
}

