
div.container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 10px; 
}



div.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 150px;
  padding: 25px;
  background-color: rgb(227, 227, 227);
  color: rgb(9, 8, 8);
  border-radius: 15px;
}

div.card p {
  text-align: center;
}

div.card h3 {
  text-align: center;
}


.cart-image {
  width: 28px;
}

.item-quantity {
  color: #fff;
  background-color: #f0ad4e;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 60px;
  position: relative;
  left: 40px;
}

.item-price {
  color: gray;
}

.item-add-button {
  background-color: #5cb85c;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  height: 30px;
  margin-top: 10px;
}

.item-minus-button {
  background-color: #d9534f;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  margin-top: 7px;
}

.item-plus-button {
  background-color: #337ab7;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  margin-top: 7px;
}



.cart-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cart-count {
  background-color: blue;
  border-radius: 20px;
  padding: 8px;
  color: #fff;
}